@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  src: url("./src/assets/fonts/GeistVF.woff");
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("./src/assets/fonts/GeistMonoVF.woff");
  font-display: swap;
}

:root {
  --font-geist: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", sans-serif;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;

  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

*:focus {
  outline-color: theme("colors.primary") !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
code,
pre {
  cursor: inherit;
}

body > * {
  cursor: default;
}

#main {
  z-index: 999 !important;
}

#portal {
  z-index: 1000 !important;
}

::-webkit-scrollbar-corner {
  @apply bg-zinc-100 dark:bg-zinc-900;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-zinc-100 dark:bg-zinc-900;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  @apply bg-zinc-400 dark:bg-zinc-700;
}
